:root {
    --left-offset: 10px;
}

button {
    position: relative;
    user-select: none;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
}

.arrow-right::after {
  content:'';
  width: 0px; 
  height: 0px; 
  border-top: 0.3rem solid transparent;
  border-bottom: 0.3rem solid transparent;
  border-left: 0.3rem solid gray;
  position:absolute;
  left: calc(100% - var(--left-offset, 10px));
}

.arrow-down::after {
    content: '';
    width: 0px;
    height: 0px;
    border-left: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
    border-top: 0.3rem solid gray;
    position: absolute;
    left: calc(100% - var(--left-offest,10px));
}

.arrow-left::after {
    content: '';
    width: 0px;
    height: 0px;
    border-top: 0.3rem solid transparent;
    border-bottom: 0.3rem solid transparent;
    border-right: 0.3rem solid gray;
    position: absolute;
    right: calc(100% - var(--left-offset, 10px));
}
